<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>🌿 xfern Music Server</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="/public/skin.css">
    <script src="/public/script.js" type="module" async defer></script>
</head>
<body>
    <div class="xf-body">
        <h1 class="xf-title">🌿 xfern Music Server (TODO: add mobile layout)</h1>
        <main class="xf-root">
            <div class="xf-player-area">
                <h2 class="xf-current-track-label">Current Track: <code class="xf-current-track-name">{{ trackName }}</code>
                </h2>
                <nav>
                    <button class="xf-play-or-pause" :data-state="playerState" v-on:click="handlePlayPauseButtonPressed">Play/Pause</button>
                </nav>
                <audio class="xf-player" controls v-bind:src="trackSrc" ref="audio"></audio>
            </div>
            <div class="xf-library-area">
                <label class="xf-search">
                    <span class="xf-search-label">Search {{ libraryView }}:</span>
                    <input type="search" class="xf-search-box" name="q" v-on:input="handSearchQueryChanged">
                </label>
                <div class="xf-track-select-wrapper">
<!--                    <select>-->
<!--                        <option v-for="(value, key) in constants.LIBRARY_VIEWS" v-once :value="key">Show {{ value }}</option>-->
<!--                    </select>-->
                    <h3>Select track:</h3>
                    <div class="xf-track-select">
                        <button
                                :data-is-current-track="track === currentTrack"
                                v-for="track in mediaByView"
                                class="xf-track-select-button"
                                v-bind:data-value="track.file"
                                v-on:click="handleTrackButtonPressed(track)"
                        >{{ getTrackName(track) }}
                        </button>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>