:root {
    --color-background: white;
    --color-foreground: black;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: black;
        --color-foreground: white;
    }
}

* { box-sizing: border-box; }

body {
    background: var(--color-background);
    color: var(--color-foreground);
    margin: 0;
    font-family: sans-serif;
}

.xf-track-select-wrapper {
    display: block;
}

.xf-header {
    display: flex;
    width: 100%;
    flex-shrink: 0;
    border-bottom: 1px solid var(--color-foreground);
    line-height: 1;

}

.xf-title {
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
    margin: 0;
    font-size: 1rem;
    background: var(--color-foreground);
    color: var(--color-background);
    padding: 1rem;
}

.xf-current-track-label {
    text-align: center;
    padding: 0 1rem;
}

.xf-current-track-name {
    display: block;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.xf-track-select-button {
    display: block;
    width: 100%;
    padding: 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    font: inherit;
    background: transparent;
    border: none;
    color: currentColor;
    cursor: pointer;
    text-align: left;
}

.xf-track-select-button:hover {
    background: var(--color-foreground);
    color: var(--color-background);
}

.xf-play-or-pause {
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 0;
}

.xf-play-or-pause::before {
    font-size: 2rem;
}

.xf-main {
    display: flex;
    flex-direction: row-reverse; /* library area on left */
    align-items: stretch;
    flex-grow: 1;
}

.xf-body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

audio {
    margin-top: 1rem;
}

.xf-player-area {
    grid-area: player;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-left: 1px solid var(--color-foreground);
    padding: 1rem;
    width: 400px;
    flex-shrink: 0;
}

.xf-library-area {
    grid-area: library;
    overflow-y: scroll;
    flex-shrink: 1;
    width: 100%;
    padding: 1rem;
}

.xf-play-or-pause[data-state="paused"]::before {
    content: '▶'
}

.xf-play-or-pause[data-state="playing"]::before {
    content: '⏸'
}

.xf-search {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    width: 100%;
}

.xf-search-box {
    font: inherit;
    flex-grow: 1;
    padding: 0.5em 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.xf-search-label {
    flex-grow: 0;
    margin-right: 1rem;
}

.xf-track-select-button[data-is-current-track] {
    background: var(--color-foreground);
    color: var(--color-background);
}